{% extends 'login_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(function() {
			$("#register-user").on("click", function(e) {
				//e.preventDefault();
				
				var href = $(this).data("href");
				console.log(href)
				window.location = href;
			});
		});
	</script>
{% endblock %}

{% block content %}
    <div class="login-body">

        <div style="padding: 16px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 16px 0 rgba(0, 0, 0, 0.4);">

            <form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'messages') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal login-headline" style="padding-bottom: 16px;">
                    <b>{{ "SyncronBytes" }}</b> Manager
                </h1>

                <div class="form-group text-center">
                    <label for="inputEmail" class="sr-only">{{ "email"|trans }}</label>
                    <input type="email" class="form-control text-center" id="inputEmail"
                           aria-describedby="emailHelp" placeholder="{{ "email"|trans }}"
                           value="{{ last_username }}" name="email" required autofocus>
                    <small id="emailHelp" class="form-text text-muted">
                        {{ "email_address.nosharemsg"|trans }}
                    </small>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="sr-only">{{ "password"|trans }}</label>
                    <input type="password" class="form-control text-center" id="inputPassword"
                           placeholder="{{ "password"|trans }}" name="password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#                #}{##}
                {#                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
                {#                    See https://symfony.com/doc/current/security/remember_me.html#}
                {#                #}
                {#                #}{#  <div class="checkbox mb-3">#}
                {#                #}{#      <label>#}
                {#                #}{#          <input type="checkbox" name="_remember_me"> {{ "Remember me" | trans }}#}
                {#                #}{#      </label>#}
                {#                #}{#  </div>#}

                <button class="btn btn-primary" type="submit" style="width: 100%;">{{ "log_in" | trans }}</button>
				
            </form>
			
			<button id="register-user" class="btn btn-secondary" data-href={{ path("user_register") }} type="submit" style="width: 100%;">{{ "register_now" | trans }}</button>

        </div>
    </div>
{% endblock %}
