{% extends 'login_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="login-body {#register-body#}">

        <div style="padding: 16px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 16px 0 rgba(0, 0, 0, 0.4);">

            <form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'messages') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal login-headline" style="padding-bottom: 16px;">
                    <b>{{ "SyncronBytes" }}</b> Manager
                </h1>

                <div class="form-group text-center">
                    <label for="inputEmail" class="sr-only">{{ "email"|trans }}</label>
                    <input type="email" class="form-control text-center" id="inputEmail"
                           aria-describedby="emailHelp" placeholder="{{ "email"|trans }}"
                           value="{{ last_email }}" name="email" required autofocus>
                    <small id="emailHelp" class="form-text text-muted">
                        {{ "email_address.nosharemsg"|trans }}
                    </small>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="sr-only">{{ "password"|trans }}</label>
                    <input type="password" class="form-control text-center" id="inputPassword"
                           placeholder="{{ "password"|trans }}" name="password" required>
                </div>

                <div class="form-group">
                    <label for="inputPassword2" class="sr-only">{{ "re_enter_password"|trans }}</label>
                    <input type="password" class="form-control text-center" id="inputPassword2"
                           placeholder="{{ "re_enter_password"|trans }}" name="password2" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-primary" href={{ path("user_register") }} type="submit" style="width: 100%;">{{ "register" | trans }}</button>

            </form>

        </div>
    </div>
{% endblock %}
