{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Videos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content {
          background-color: #dee;
        }

        .list-group-item:hover {
           background-color: #688 !important;
         }

        .list-group, .list-group-item, .panel-heading {
          background-color: #455 !important;
          color: whitesmoke !important;
        }

        .panel-body {
          background-color: #688;
        }
    </style>
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
        });
    </script>
{% endblock %}
#}

{% block content %}

  <div{# id="containerX" data-videoid="{{ app.session.get("curVideoId", "") }}"#}>

    {% if app.session.get("curVideoId") is not empty %}
      <div id="curVideoX" data-url="{{ path('star-video', {'videoId': app.session.get("curVideoId")}) }}">
    {% endif %}

    <div class="list-group">

      {% set seasonCur = seasons[0] %}

      {% for i, episode in episodes %}

        {# TODO: use php functions later #}
    		{% set middle = " - Episode " ~ episode.number  %}
    		{% if episode.isExtra %}
    			{% set middle = " - Extra" %}
    		{% endif %}

        {# FIXME: check for language later and whether to show both titles #}
    		{% set videoTitle = "Season " ~ episode.season ~ middle ~ ": " ~ episode.title %}
        {# TODO: use php functions later #}

        {% if seasonCur.number < episode.season %}

          {% if seasonCur.number > 0 %}
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}

          {% for i, season in seasons %}
              {% if seasonCur.number == episode.number %}
                  {% set seasonCur = season %}
              {% endif %}
          {% endfor %}

          <div class="panel panel-default">
             <div class="panel-heading">
                   <a class="btn panel-title list-group-item"
                       data-toggle="collapse"
                       data-target="#collapse{{ episode.season }}">
                       {# TODO: Translations when needed #}
                       <b>{{ episode.season }}. Staffel - {{ seasonCur.title }}</b>
                       {# FIXME: calculate first and last episode and replace code #}
                       {#<small>#{{ seasonCur.firstEpisode }} - {{ seasonCur.lastEpisode }}</small>#}
                       <small>({{ seasonCur.startYear }} - {{ seasonCur.endYear }})</small>
                   </a>
              </div>
              <div id="collapse{{ episode.season }}"
                   class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="list-group">
        {% endif %}

        <a class="list-group-item" href="{{ path('star-video', {'videoId': i}) }}">
          {{ videoTitle }}
        </a>

      {% endfor %}

    </div>

  </div>

{% endblock %}
