{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Videos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content {
          background-color: #dee;
        }

        .list-group-item:hover {
           background-color: #688 !important;
         }

        .list-group, .list-group-item, .panel-heading {
          background-color: #455 !important;
          color: whitesmoke !important;
        }

        .panel-body {
          background-color: #688;
        }
    </style>
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
        });
    </script>
{% endblock %}
#}

{% block content %}

  <div{# id="containerX" data-videoid="{{ app.session.get("curVideoId", "") }}"#}>

    {% if app.session.get("curVideoId") is not empty %}
      <div id="curVideoX" data-url="{{ path('star-video', {'videoId': app.session.get("curVideoId")}) }}">
    {% endif %}

    <div class="list-group">

      {% set seasonCur = 0 %}

      {% for i, videoData in videoFiles %}

        {# TODO: use php functions later #}
    		{% set middle = " - Episode " ~ videoData[4]  %}
    		{% if videoData[6] == 1 %}
    			{% set middle = " - Extra" %}
    		{% endif %}

        {# FIXME: check for language later and whether to show both titles #}
        {% set langTitle = "" %}
        {% if videoData[1] is not empty %}
          {% set langTitle = videoData[1] ~ " / " %}
        {% endif %}
        {% set langTitle = langTitle ~ videoData[2] %}

    		{% set videoTitle = "Staffel " ~ videoData[3] ~ middle ~ ": " ~ langTitle %}
        {# TODO: use php functions later #}

        {% if seasonCur < videoData[3] %}

          {% if seasonCur > 0 %}
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}

          {% set seasonCur = videoData[3] %}

          <div class="panel panel-default">
             <div class="panel-heading">
                   <a class="btn panel-title list-group-item"
                       data-toggle="collapse"
                       data-target="#collapse{{ seasonCur }}">
                       {# TODO: Translations when needed #}
                       <b>{{ seasonCur }}. Staffel - {{ seasons[seasonCur][3] }}</b>
                       <small>#{{ seasons[seasonCur][6] }} - {{ seasons[seasonCur][7] }}</small>
                       <small>({{ seasons[seasonCur][4] }} - {{ seasons[seasonCur][5] }})</small>
                   </a>
              </div>
              <div id="collapse{{ videoData[3] }}"
                   class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="list-group">
        {% endif %}

        <a class="list-group-item" href="{{ path('star-video', {'videoId': i}) }}">
          {{ videoTitle }}
        </a>

      {% endfor %}

    </div>

  </div>

{% endblock %}
