{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Videos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content, .dark {
          background-color: #888;
        }

        .list-group, .list-group-item, .panel-heading {
          background-color: #444 !important;
          color: whitesmoke !important;
        }

       .list-group-item:hover {
          background-color: #888 !important;
        }

        .panel-body {
          background-color: #454;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fullscreen.js') }}"></script>
    <script>
        $(function () {

          $('.videoButton').on('click', function(e) {
            var url = $(this).data("href");
            console.log(url);
            $('#containerX').loadHtml(url);
          });

        });
    </script>
{% endblock %}


{% block content %}

  <div id="containerX">

    <div class="list-group">

      {% set seasonCur = 0 %}

      {% for i, videoData in videoFiles %}

        {# TODO: use php functions later #}
    		{% set middle = " - Episode " ~ videoData[4]  %}
    		{% if videoData[6] == 1 %}
    			{% set middle = " - Extra" %}
    		{% endif %}

        {# FIXME: check for language later and whether to show both titles #}
        {% set langTitle = "" %}
        {% if videoData[1] is not empty %}
          {% set langTitle = videoData[1] ~ " / " %}
        {% endif %}
        {% set langTitle = langTitle ~ videoData[2] %}

    		{% set videoTitle = "Staffel " ~ videoData[3] ~ middle ~ ": " ~ langTitle %}
        {# TODO: use php functions later #}

        {% if seasonCur < videoData[3] %}

          {% if seasonCur > 0 %}
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}

          {% set seasonCur = videoData[3] %}

          <div class="panel panel-default">
             <div class="panel-heading">
                   <a class="btn panel-title list-group-item"
                       data-toggle="collapse"
                       data-target="#collapse{{ seasonCur }}">
                       {{ seasonCur }}. Staffel - {{ seasons[seasonCur - 1][3] }}
                   </a>
              </div>
              <div id="collapse{{ videoData[3] }}"
                   class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="list-group">
        {% endif %}

        <a class="videoButton list-group-item" href="#"
           data-href="{{ path('star-video', {'videoId': i}) }}">
          {{ videoTitle }}
        </a>

      {% endfor %}

    </div>

  </div>

{% endblock %}
