{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Videos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content, .dark {
          background-color: #888;
        }

        .list-group, .list-group-item, .gray-hover {
          background-color: #444;
          color: whitesmoke !important;
        }

       .gray-hover:hover {
          background-color: #888;
          color: whitesmoke !important;
        }
    </style>
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
        });
    </script>
{% endblock %}
#}

{% block content %}

  <div class="list-group">

    {% set seasonCur = 0 %}

    {% for i, videoData in videoFiles %}

  		{% set middle = "- Episode " ~ videoData[3] %}
  		{% if videoData[3] == 0 %}
  			{% set middle = " - Extra" %}
  		{% endif %}
  		{# TODO: use php function later #}
  		{% set videoTitle = "Staffel " ~ videoData[2] ~ middle ~ ": " ~ videoData[1] %}

      {% if seasonCur < videoData[2] %}

        {% if seasonCur > 0 %}
                      </div>
                  </div>
              </div>
          </div>
        {% endif %}

        {% set seasonCur = videoData[2] %}

        <div class="panel panel-default">
           <div class="panel-heading gray-hover">
                 <a class="btn list-group-item panel-title gray-hover"
                     data-toggle="collapse"
                     data-target="#collapse{{ seasonCur }}">
                     {{ seasonCur }}. Staffel
                 </a>
            </div>
            <div id="collapse{{ videoData[2] }}"
                 class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="list-group">
      {% endif %}

      <a class="list-group-item"
         href="{{ path('star-video', {'videoId': i}) }}">
        {{ videoTitle }}
      </a>

    {% endfor %}

  </div>

{% endblock %}
