{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Videos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content {
          background-color: #dee;
        }

        .list-group-item:hover {
           background-color: #688 !important;
         }

        .list-group, .list-group-item, .panel-heading {
          background-color: #455 !important;
          color: whitesmoke !important;
        }

        .panel-body {
          background-color: #688;
        }
    </style>
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
        });
    </script>
{% endblock %}
#}

{% block content %}

  <div{# id="containerX" data-videoid="{{ app.session.get("curVideoId", "") }}"#}>

    {% if app.session.get("curVideoId") is not empty %}
      <div id="curVideoX" data-url="{{ path('star-video', {'videoId': app.session.get("curVideoId")}) }}">
    {% endif %}

    <div class="list-group">

      {% for i, season in seasons %}

          {# FIXME: use season.series.color later after db connections set #}
          <style>
            .panel-body-{{ season.series }} {
              /* TODO: different color */
              background-color: {{ series[season.series].color }};
            }

            /*.list-group-item-{#{{ season.series }}#}:hover {*/
               /* TODO: different color */
            /*   background-color: {#{{ series[season.series].color }}#} !important;*/
            /*}*/

            .list-group-{{ season.series }},
            .list-group-item-{{ season.series }},
            .panel-heading-{{ season.series }} {
              background-color: {{ series[season.series].color }} !important;
              color: whitesmoke !important;
            }
          </style>

          <div class="panel panel-default">

              <div class="panel-heading panel-heading-{{ season.series }}">
                   <a class="btn panel-title list-group-item list-group-item-{{ season.series }}"
                       data-toggle="collapse"
                       data-target="#collapse{{ season.id }}">
                       {# TODO: Translations when needed #}
                       <b>Season {{ season.number }} - {{ season.title }}</b>
                       {# FIXME: calculate first and last episode and replace code #}
                       {#<small>#{{ season.firstEpisode }} - {{ season.lastEpisode }}</small>#}
                       <small>({{ season.startYear }} - {{ season.endYear }})</small>
                   </a>
              </div>

              <div id="collapse{{ season.id }}" class="panel-collapse collapse">

                  <div class="panel-body panel-body-{{ season.series }}">
                    <div class="list-group list-group-{{ season.series }}">

                      {# FIXME: Later only loop through current episodes #}
                      {# use start, end index for that (if possible) #}
                      {% for i, episode in episodes %}
                        {% if episode.season == season.id %}

                          {# TODO: use php functions later #}
                      		{% set middle = " - Episode " ~ episode.number  %}
                      		{% if episode.isExtra %}
                      			{% set middle = " - Extra" %}
                      		{% endif %}

                          {# FIXME: check for language later and whether to show both titles #}
                      		{% set videoTitle = "Season " ~ season.number ~ middle ~ ": " ~ episode.title %}
                          {# TODO: use php functions later #}

                          <a class="list-group-item list-group-item-{{ season.series }}" href="{{ path('star-video', {'videoId': episode.id}) }}">
                            {{ videoTitle }}
                          </a>

                        {% endif %}

                      {% endfor %}

                    </div>
                  </div>

              </div>

            </div>

      {% endfor %}

    </div>

  </div>

{% endblock %}
