{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Video{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content, .dark {
          background-color: #888;
        }

        .center-block {
          text-align: center;
        }
    </style>
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
        });
    </script>
{% endblock %}
#}

{% block content %}

    {# videoData : {
      0 = ID / Path,
      1 = Name,
      2 = Season,
      3 = Episode,
      4 = EpisodeAll,
      5 = IsExtra
    #}

    <div class="row">

      <div class="col-md-1"></div>

      <div class="col-md-1">
        {% if previousId is not empty %}
          <a class="btn btn-primary"
             href="{{ path('star-video', {'videoId': previousId}) }}">
            {{ "Previous" }}
          </a>
        {% endif %}
      </div>

      <div class="{#center-block #}col-md-8">
    		<h3>
    			<font id="titleFont" style="vertical-align: middle;">{{ videoTitle }}</font>
    		</h3>
      </div>

      <div class="col-md-1">
        {% if nextId is not empty %}
          <a class="btn btn-primary"
             href="{{ path('star-video', {'videoId': nextId}) }}">
            {{ "Next" }}
          </a>
        {% endif %}
      </div>

      <div class="col-md-1"></div>

    </div>

    <div class="center-block">
    		<video class="dark" controls preload="auto">
    			<source src="{{ videoPath ~ videoPathId }}.mp4" type="video/mp4">
  			{#<source src="{{ audioPath ~ videoPathId }}.ogg" type="audio/ogg">#}
    		  <p>Your browser does not support the video tag.</p>
    		</video>
    </div>

{% endblock %}
