<!DOCTYPE html>
<html>
    <head>
      {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="refresh" content="5">
      {% endblock %}

      <title>{% block title %}Star{% endblock %} {% block sub_title %}Video{% endblock %}</title>
      <!-- Tell the browser to be responsive to screen width -->
      <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> -->

      {% block stylesheets %}

        <!-- favicon -->
        <link rel="bookmark icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('AdminLTE-2.4.10/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('AdminLTE-2.4.10/bower_components/font-awesome/css/font-awesome.min.css') }}">

        <!-- Custom styles -->
        <link rel="stylesheet" href="{{ asset('css/skin-jsys.css') }}">

        <style>

            html, body, .dark, .content-wrapper, .content {
              background-color: black;
            }

            .container {
              display: block;
              margin: 0 auto;
            }

            /* Make the image responsive */
            .container img {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              object-fit: cover;
            }

            /* Style the button and place it in the middle of the container/image */
            .container .btn {
              position: absolute;
              top: 8%;
              right: 8%;
              color: white;
              font-size: 16px;
              padding: 12px 24px;
              border: none;
              cursor: pointer;
              border-radius: 5px;
            }

        </style>
        {% endblock %}

      </head>
      <body>
      {% block body %}

        <div class="container dark">
          <img src="{{ asset("images/stargate-next-video.jpg") }}" alt="Stargate Dial">

          {% if app.session.get("nextVideoId") is null %}
            <a class="btn btn-primary" href="{{ path('star') }}">
              {{ "back_to_overview"|trans }}
            </a>
          {% else %}
            <a class="btn btn-primary" href="{{ path('star-video', {'videoId': app.session.get("nextVideoId")}) }}">
              {{ "next_episode"|trans }}
            </a>
          {% endif %}
        </div>

        {% block javascripts %}

          <!-- jQuery 3 -->
          <script src="{{ asset('AdminLTE-2.4.10/bower_components/jquery/dist/jquery.min.js') }}"></script>
          <!-- Bootstrap 3.3.7 -->
          <script src="{{ asset('AdminLTE-2.4.10/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

          {#<script type='text/javascript'>
              $(function () {
                // ...
              });
          </script>#}

        {% endblock %}

      {% endblock %}
    </body>
  </html>
