<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}Star{% endblock %} {% block sub_title %}Video{% endblock %}</title>
      <!-- Tell the browser to be responsive to screen width -->
      <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> -->

      {% block stylesheets %}

        <!-- favicon -->
        <link rel="bookmark icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('AdminLTE-2.4.10/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('AdminLTE-2.4.10/bower_components/font-awesome/css/font-awesome.min.css') }}">

        <!-- video page style -->
        <link rel="stylesheet" href="{{ asset('css/video.css') }}">

        <!-- (video) slider style -->
        <link rel="stylesheet" href="{{ asset('css/slider.css') }}">

        <style>

          .video-time {
            font-size: 50%;
            display: inherit;
          }

          .played-time {
            background-color: #533;
            position: fixed;
            height: 20px;
            display: inherit;
            border-radius: 8px;
          }

        </style>

      {% endblock %}

    </head>
    <body>
    {% block body %}

        <div class="dark">

            <div id="videoTitleBar" class="row video-bar video-bar-title">

              <div class="col-sm-3 col-md-3 col-lg-3">
                <a id="backButton" class="bar-button pull-left"
                   href="{{ path('star-video', {'videoId': app.session.get("previousVideoId", 0)}) }}">
                  <i class="fa fa-chevron-left"></i>
                </a>
              </div>

              {# TODO: use php functions later #}
          		{% set middle = " - Episode " ~ episode.number  %}
          		{% if episode.isExtra %}
          			{% set middle = " - Extra" %}
          		{% endif %}

              {# FIXME: check for language later and whether to show both titles #}
          		{% set videoTitle = "Season " ~ season.number ~ middle ~ ": " ~ episode.title %}
              {# TODO: use php functions later #}

              <div class="col-sm-6 col-md-6 col-lg-6">
                <h3>
                  <font class="titleFont">{{ videoTitle }}</font>
                </h3>
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <a class="bar-button pull-right"
                   href="{{ path('star') }}"> {# change href later maybe #}
                  <i class="fa fa-close"></i>
                </a>
              </div>

            </div>

            <div id="videoPlayerContainer" class="video-media">
              <video id="curVideo">
                <source src="{{ videoPath ~ episode.path|replace({'%lang%': app.session.get("videoLanguage")}) }}.mp4" type="video/mp4">
              {#<source src="{{ audioPath ~ episode.path }}.ogg" type="audio/ogg">#}
                <p>Your browser does not support the video tag.</p>
              </video>
            </div>

            <div id="videoPlayerBar" class="row video-bar video-bar-bottom">

              <div class="col-sm-1 col-md-1 col-lg-1">
                <button id="playButton" class="bar-button pull-left">
                    <i id="playButtonIcon" class="fa fa-play"></i>
                </button>
              </div>

              <div class="col-sm-7 col-md-7 col-lg-7">
                <div id="custom-seekbar" class="slidercontainer">
                  <span id="playedTime" class="played-time"></span>
                  <input type="range" min="0" max="1000" value="0" class="slider slider-green" id="videoTime">
                  <span id="videoTimeDisplay" class="video-time pull-left">--:--</span>
                </div>
              </div>

              <div class="col-sm-1 col-md-1 col-lg-1">
                <div id="custom-audiobar" class="slidercontainer">
                  <input type="range" min="0" max="100" value="100" class="slider slider-blue" id="videoVolume">
                </div>
              </div>

              <div class="col-sm-2 col-md-2 col-lg-2">

                <div class="dropup">
                  <button class="btn btn-primary dropdown-toggle"
                          type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          {{ app.session.get("videoLanguages")[app.session.get("videoLanguage")] }}
                          <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    {% for key, language in app.session.get("videoLanguages") %}
                      <li class="language-option">
                        <a href="#" data-lang="{{ key }}"
                             data-url="{{ path('star-set-language') }}">
                             {{ language }}
                            {% if app.session.get("videoLanguage") is same as (key) %}
                            <small> Current </small>
                            {% endif %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

              </div>

              <div class="col-sm-1 col-md-1 col-lg-1">
                <button id="expandButton" class="bar-button pull-right">
                    <i id="expandButtonIcon" class="fa fa-expand"></i>
                </button>
              </div>

            </div>

            <div id="nextVid" data-url="{{ path('star-video-next') }}" hidden></div>

        </div>

        {% block javascripts %}

        <!-- jQuery 3 -->
        <script src="{{ asset('AdminLTE-2.4.10/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{{ asset('AdminLTE-2.4.10/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <script src="{{ asset('js/fullscreen_easy.js') }}"></script>
        <script src="{{ asset('js/video.js') }}"></script>

        <script type='text/javascript'>

            // TODO: get video_next.html style like button on image for video overlay like Netflix

            $(function () {

              // autostart video
              // TODO: find way to load page within main to (maybe) use autoplay
              //curVideoDom.autoplay = true;
              //curVideoDom.load();


            });

        </script>

        {% endblock %}

    {% endblock %}
  </body>
</html>
