{% extends 'base_ajax.html.twig' %}


{% block title %}Star{% endblock %}
{% block sub_title %}Video{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>

      #containerX:-webkit-full-screen	{ width: 100% }
      #containerX:-moz-full-screen		{ width: 100% }
      #containerX:-ms-full-screen		  { width: 100% }
      #containerX:-o-full-screen		  { width: 100% }
      #containerX:full-screen			    { width: 100% }

    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fullscreen.js') }}"></script>
    <script type='text/javascript'>
        // TODO: load jquery and stuff
        // TODO: get video_next.html style like button on image for video overlay like Netflix
        $(function () {
          function loadVideo(url) {
            $.post(url, function(response) {
              $('#containerX').html(response);
            });
          }

          $('#curVideo').on('ended', function(e) {
            var url = $("#nextVid").data("url");
            //window.location = url;
            loadVideo(url);
          });

        $(".videoButton").on('click', function(e) {
          e.preventDefault();

          if (RunPrefixMethod(document, "FullScreen") || RunPrefixMethod(document, "IsFullScreen")) {
            RunPrefixMethod(document, "CancelFullScreen");
          }
          else {
            RunPrefixMethod(this, "RequestFullScreen");
          }

          var url = $(this).data("href");
          loadVideo(url);
        });

      //window.onload = maxWindow;

      function maxWindow() {
          window.moveTo(0, 0);

          if (document.all) {
              top.window.resizeTo(screen.availWidth, screen.availHeight);
          }

          else if (document.layers || document.getElementById) {
              if (top.window.outerHeight < screen.availHeight || top.window.outerWidth < screen.availWidth) {
                  top.window.outerHeight = screen.availHeight;
                  top.window.outerWidth = screen.availWidth;
              }
          }
      }

    });

</script>
{% endblock %}


{% block content %}

    {# videoData : {
      0 = ID / Path,
      1 = Name_English,
      2 = Name_German,
      3 = Season,
      4 = Episode,
      5 = EpisodeAll,
      6 = IsExtra
    #}

    {#<div class="row overall-block">

      <div class="col-md-2 col-sm-1">
        {% if app.session.get("previousVideoId") is not empty %}
          <a class="btn btn-primary pull-left"
             href="{{ path('star-video', {'videoId': app.session.get("previousVideoId")}) }}">
            {{ "Previous" }}
          </a>
        {% endif %}
      </div>

      <div class="col-md-8 col-sm-4"></div>

      <div class="col-md-2 col-sm-1">
        {% if app.session.get("nextVideoId") is not empty %}
          <a class="btn btn-primary pull-right"
             href="{{ path('star-video', {'videoId': app.session.get("nextVideoId")}) }}">
            {{ "Next" }}
          </a>
        {% endif %}
      </div>

      <div class="col-md-1"></div>

    </div>#}

    <div class="{#center-block#}">
    		<video id="curVideo" class="dark" width="100%" height="100%" controls preload="auto">
    			<source src="{{ videoPath ~ videoPathId }}.mp4" type="video/mp4">
  			{#<source src="{{ audioPath ~ videoPathId }}.ogg" type="audio/ogg">#}
    		  <p>Your browser does not support the video tag.</p>
    		</video>

        <div class="title">
          <h3 class="videoButton">
            <font id="titleFont">{{ videoTitle }}</font>
          </h3>
        </div>

        <div id="nextVid" data-url="{{ path('star-video-next') }}" hidden></div>
    </div>

{% endblock %}
