<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}Star{% endblock %} {% block sub_title %}Video{% endblock %}</title>
      <!-- Tell the browser to be responsive to screen width -->
      <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> -->

      {% block stylesheets %}

        <!-- favicon -->
        <link rel="bookmark icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('AdminLTE-2.4.10/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('AdminLTE-2.4.10/bower_components/font-awesome/css/font-awesome.min.css') }}">

        <style>

          /* TODO: export into css file */

          /* html, body {
            min-height: unset;
            max-height: unset;
          } */

          html, body, .dark {
            background-color: black;
          }

          .dark {
            text-align: center;
          }

          .btn-primary {
            background-color: #455;
            border-color: #355;
          }

          .btn-primary:hover {
            background-color: #355;
          }


          .bar-button {
            color: white;
            background-color: transparent;
            border: 0;
            text-align: center;
            vertical-align: middle;
          }

          .bar-button:hover {
            color: #455;
          }

          .video-bar {
            position: absolute;
            color: white;
            font-size: 48px;
            padding: 48px 64px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            width: 100%;
            text-align: center;
            /* for player and visibility opacity */
            z-index: 10;
          }

          .video-bar-top {
            top: 0;
          }

          .video-bar-bottom {
            bottom: 0;
            /*opacity: 0.0;*/
            /*transition-property: opacity;*/
            /*transition-delay: 0s;*/
            /*transition-duration: 5s;*/
          }

          /*.video-bar-bottom:hover {*/
            /*opacity: 1.0;*/
          /*}*/

          .videoMediaClass {
            width: 90%;
            height: auto;
            display: block;
            margin: 0 auto;
            /*vertical-align: middle;*/
          }

          .titleFont {
            font-size: 32px;
          }


          .custom-bar {
            cursor: pointer;
            height: 24px;
            outline: thin solid #355;
            opacity: 0.5;
            overflow: hidden;
            position: relative;
            width: 100%;
            margin: 20px 0px;
          }

          .custom-bar span {
            background-color: #455;
            position: absolute;
            top: 0;
            left: 0;
            height: inherit;
          }

          #custom-seekbar {
            background-color: #011;
          }

          #custom-seekbar span {
            background-color: #455;
            width: 0px;
          }

          #custom-audiobar {
            background-color: #101;
          }

          #custom-audiobar span {
            background-color: #535;
            width: 100%;
          }


          .dropdown-toggle {
            width: 100%;
          }

        </style>
      {% endblock %}

    </head>
    <body>
    {% block body %}

        <div class="dark">

            <div id="videoTitleBar" class="row video-bar video-bar-title">

              <div class="col-sm-3 col-md-3 col-lg-3">
                <a id="backButton" class="bar-button pull-left"
                   href="{{ path('star') }}"> {# change href later maybe #}
                  <i class="fa fa-chevron-left"></i>
                </a>
              </div>

              {# TODO: use php functions later #}
          		{% set middle = " - Episode " ~ episode.number  %}
          		{% if episode.isExtra %}
          			{% set middle = " - Extra" %}
          		{% endif %}

              {# FIXME: check for language later and whether to show both titles #}
          		{% set videoTitle = "Season " ~ season.number ~ middle ~ ": " ~ episode.title %}
              {# TODO: use php functions later #}

              <div class="col-sm-6 col-md-6 col-lg-6">
                <h3>
                  <font class="titleFont">{{ videoTitle }}</font>
                </h3>
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <a class="bar-button pull-right"
                   href="{{ path('star') }}"> {# change href later maybe #}
                  <i class="fa fa-close"></i>
                </a>
              </div>

            </div>

            <div id="videoPlayerContainer" class="videoMediaClass">

              <video id="curVideo" {#preload="auto"#} width="100%">
                <source src="{{ videoPath ~ episode.path|replace({'%lang%': app.session.get("videoLanguage")}) }}.mp4" type="video/mp4">
              {#<source src="{{ audioPath ~ episode.path }}.ogg" type="audio/ogg">#}
                <p>Your browser does not support the video tag.</p>
              </video>

            </div>

            <div id="videoPlayerBar" class="row video-bar video-bar-bottom">

              <div class="col-sm-1 col-md-1 col-lg-1">
                <button id="playButton" class="bar-button pull-left">
                    <i id="playButtonIcon" class="fa fa-play"></i>
                </button>
              </div>

              <div class="col-sm-8 col-md-8 col-lg-8">
                <div id="custom-seekbar" class="custom-bar">
                  <span></span>
                </div>
              </div>

              <div class="col-sm-1 col-md-1 col-lg-1">
                <div id="custom-audiobar" class="custom-bar">
                  <span></span>
                </div>
              </div>

              <div class="col-sm-1 col-md-1 col-lg-1">

                <div class="dropup">
                  <button class="btn btn-primary dropdown-toggle"
                          type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          {{ app.session.get("videoLanguages")[app.session.get("videoLanguage")] }}
                          <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    {% for key, language in app.session.get("videoLanguages") %}
                      <li class="language-option">
                        <a href="#" data-lang="{{ key }}"
                             data-url="{{ path('star-set-language') }}">
                             {{ language }}
                            {% if app.session.get("videoLanguage") is same as (key) %}
                            <small> Current </small>
                            {% endif %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

              </div>

              <div class="col-sm-1 col-md-1 col-lg-1">
                <button id="expandButton" class="bar-button pull-right">
                    <i id="expandButtonIcon" class="fa fa-expand"></i>
                </button>
              </div>

            </div>

            <div id="nextVid" data-url="{{ path('star-video-next') }}" hidden></div>

        </div>

        {% block javascripts %}

        <!-- jQuery 3 -->
        <script src="{{ asset('AdminLTE-2.4.10/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{{ asset('AdminLTE-2.4.10/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <script type='text/javascript'>

            // TODO: get video_next.html style like button on image for video overlay like Netflix
            // TODO: put into js file later

            $(function () {

              // CONTROLS - START
              var fullElem = document.documentElement;

              function openFullscreen() {
                if (fullElem.requestFullscreen) {
                  fullElem.requestFullscreen();
                } else if (fullElem.webkitRequestFullscreen) { /* Safari */
                  fullElem.webkitRequestFullscreen();
                } else if (fullElem.msRequestFullscreen) { /* IE11 */
                  fullElem.msRequestFullscreen();
                }

                // TODO: check other devices later
                $("#videoPlayerContainer").css('width', '99%'); // full
              }

              function closeFullscreen() {
                if (document.exitFullscreen) {
                  document.exitFullscreen();
                } else if (document.webkitExitFullscreen) { /* Safari */
                  document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { /* IE11 */
                  document.msExitFullscreen();
                }

                $("#videoPlayerContainer").css('width', '90%');
              }

              function toggleExpandButton() {
                $('#expandButtonIcon').toggleClass("fa-expand");
                $('#expandButtonIcon').toggleClass("fa-compress");
              }

              var curVideo = $('#curVideo');
              var curVideoDOM = document.getElementById("curVideo");

              $('#playButton').on('click', function(){
                if ($('#playButtonIcon').hasClass("fa-play")){
                    curVideoDOM.play();
                } else {
                    curVideoDOM.pause();
                }
              });

              $('#expandButton').on('click', function(){
                if ($('#expandButtonIcon').hasClass("fa-expand")){
                    openFullscreen();
                } else {
                    closeFullscreen();
                }

                toggleExpandButton();
              });

              $('select').change(function () {
                var optionSelected = $(this).find("option:selected");
                var url = optionSelected.data("url");
                $.post(url, {lang: optionSelected.val()}, function(data, status){
                  if (data == "success") {
                    location.reload(); // later just change player url
                  }
                });
              });

              $('.language-option a').click(function () {
                var url = $(this).data("url");
                $.post(url, {lang: $(this).data("lang")}, function(data, status){
                  if (data == "success") {
                    location.reload(); // later just change player url
                  }
                });
              });
              // CONTROLS - END


              // VIDEO EVENTS - START
              function tooglePlayButton() {
                $('#playButtonIcon').toggleClass("fa-play");
                $('#playButtonIcon').toggleClass("fa-pause");
              }

              curVideo.on('play', function(e) {
                tooglePlayButton();
              });

              curVideo.on('pause', function(e) {
                tooglePlayButton();
              });
              // VIDEO EVENTS - END

              // NEXT VIDEO - START
              curVideo.on('ended', function(e) {
                var url = $("#nextVid").data("url");
                // FIXME: find better solution later + fix instant jump (sometimes)
                // check controller code as well
                window.location = url;
              });
              // NEXT VIDEO - START


              // SEEK BAR - START
              curVideoDOM.ontimeupdate = function(){
                var percentage = (curVideoDOM.currentTime / curVideoDOM.duration) * 100;
                $("#custom-seekbar span").css("width", percentage + "%");
              };

              $("#custom-seekbar").on("click", function(e){
                  var offset = $(this).offset();
                  var left = (e.pageX - offset.left);
                  var totalWidth = $("#custom-seekbar").width();
                  var percentage = (left / totalWidth);
                  var vidTime = curVideoDOM.duration * percentage;
                  curVideoDOM.currentTime = vidTime;
              });
              // SEEK BAR - END


              // AUDIO BAR - START
              curVideoDOM.onvolumechange = function(){
                var percentage = curVideoDOM.volume * 100;
                $("#custom-audiobar span").css("width", percentage + "%");
              };

              $("#custom-audiobar").on("click", function(e){
                  var offset = $(this).offset();
                  var left = (e.pageX - offset.left);
                  var totalWidth = $("#custom-audiobar").width();
                  var percentage = (left / totalWidth);
                  var volume = 1.0 * percentage;
                  curVideoDOM.volume = volume;
              });
              // AUDIO BAR - END

              // MENU SHOW HIDE - START
              function showMenu() {
                $(".video-bar").show();
                $("#videoPlayerContainer").css('opacity', '0.6');
                document.documentElement.style.cursor = 'auto';
              }

              function hideMenu() {
                if ($("#curVideo").get(0).paused == false) {
                  $('.video-bar').fadeOut();
                  $("#videoPlayerContainer").css('opacity', '1.0');
                  //clearTimeout(t);
                  document.documentElement.style.cursor = 'none';
                }
              }

              $(document).mousemove(function(e){
                showMenu();

                lastTimeMouseMoved = new Date().getTime();
                var t = setTimeout(function(){
                  var currentTime = new Date().getTime();
                  if(currentTime - lastTimeMouseMoved > 4000){
                    hideMenu();
                  }
                }, 5000);
              });
              // MENU SHOW HIDE - END


              // autostart video
              // TODO: find way to load page within main to (maybe) use autoplay
              //curVideoDom.autoplay = true;
              //curVideoDom.load();

          });
        </script>

        {% endblock %}

    {% endblock %}
  </body>
</html>
