{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Video{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content, .dark {
          background-color: #888;
        }

        .center-block {
          text-align: center;
        }
    </style>
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
        });
    </script>
{% endblock %}
#}

{% block content %}

    <div class="center-block">
  		<h3>
  			<font id="titleFont">{{ videoTitle }}</font>
  		</h3>
    </div>

    <div class="center-block">
  		<video class="dark" controls preload="auto">
  			<source src="/videos/{{ videoId }}.mp4" type="video/mp4">
        {#<source src="/audios/{{ videoId }}.ogg" type="audio/ogg">#}
  		  <p>Your browser does not support the video tag.</p>
  		</video>
    </div>

{% endblock %}
