{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Video{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content, .dark {
          background-color: #888;
        }

        .center-block {
          text-align: center;
        }

        .overall-block {
          margin-left: 4%;
          margin-right: 4%;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        $(function () {

          $('#curVideo').on('ended', function(e) {
            window.location = $("#nextVid").data("url");
          });

        });
    </script>
{% endblock %}


{% block content %}

    {# videoData : {
      0 = ID / Path,
      1 = Name_English,
      2 = Name_German,
      3 = Season,
      4 = Episode,
      5 = EpisodeAll,
      6 = IsExtra
    #}

    <div class="center-block">
      <h3>
        <font id="titleFont">{{ videoTitle }}</font>
      </h3>
    </div>

    <div class="row overall-block">

      <div class="col-md-2 col-sm-1">
        {% if app.session.get("previousVideoId") is not empty %}
          <a class="btn btn-primary pull-left"
             href="{{ path('star-video', {'videoId': app.session.get("previousVideoId")}) }}">
            {{ "Previous" }}
          </a>
        {% endif %}
      </div>

      <div class="col-md-8 col-sm-4"></div>

      <div class="col-md-2 col-sm-1">
        {% if app.session.get("nextVideoId") is not empty %}
          <a class="btn btn-primary pull-right"
             href="{{ path('star-video', {'videoId': app.session.get("nextVideoId")}) }}">
            {{ "Next" }}
          </a>
        {% endif %}
      </div>

      <div class="col-md-1"></div>

    </div>

    <div class="center-block">
    		<video id="curVideo" class="dark" width="90%" controls preload="auto">
    			<source src="{{ videoPath ~ videoPathId }}.mp4" type="video/mp4">
  			{#<source src="{{ audioPath ~ videoPathId }}.ogg" type="audio/ogg">#}
    		  <p>Your browser does not support the video tag.</p>
    		</video>

        <div id="nextVid" data-url="{{ path('star-video-next') }}" hidden></div>
    </div>

{% endblock %}
