<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}Star{% endblock %} {% block sub_title %}Video{% endblock %}</title>
      <!-- Tell the browser to be responsive to screen width -->
      <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> -->

      {% block stylesheets %}

        <!-- favicon -->
        <link rel="bookmark icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- favicon -->
        <link rel="bookmark icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('AdminLTE-2.4.10/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('AdminLTE-2.4.10/bower_components/font-awesome/css/font-awesome.min.css') }}">

        <style>

          /* html, body {
            min-height: unset;
            max-height: unset;
          } */

          html, body, .dark {
            background-color: black;
          }

          .dark {
            text-align: center;
          }

          .bar-button {
            color: white;
            background-color: transparent;
            border: 0;
            text-align: center;
            vertical-align: middle;
          }

          .video-bar {
            position: absolute;
            color: white;
            font-size: 48px;
            padding: 48px 64px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            width: 100%;
            text-align: center;
            /* for player and visibility opacity */
            z-index: 10;
          }

          .video-bar-top {
            top: 0;
          }

          .video-bar-bottom {
            bottom: 0;
          }

          .videoMediaClass {
            width: 90%;
            height: auto;
            display: block;
            margin: 0 auto;
            vertical-align: middle;/*useless?*/
          }

          .titleFont {
            font-size: 32px;
          }

        </style>
      {% endblock %}

    </head>
    <body>
    {% block body %}

        <div class="dark">

            <div id="videoTitleBar" class="row video-bar video-bar-title">

              <div class="col-sm-3 col-md-3 col-lg-3">
                <a id="backButton" class="bar-button pull-left"
                   href="{{ path('star') }}"> {# change href later maybe #}
                  <i class="fa fa-chevron-left"></i>
                </a>
              </div>

              {# TODO: use php functions later #}
          		{% set middle = " - Episode " ~ episode.number  %}
          		{% if episode.isExtra %}
          			{% set middle = " - Extra" %}
          		{% endif %}

              {# FIXME: check for language later and whether to show both titles #}
          		{% set videoTitle = "Season " ~ season.number ~ middle ~ ": " ~ episode.title %}
              {# TODO: use php functions later #}

              <div class="col-sm-6 col-md-6 col-lg-6">
                <h3>
                  <font class="titleFont">{{ videoTitle }}</font>
                </h3>
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <a class="bar-button pull-right"
                   href="{{ path('star') }}"> {# change href later maybe #}
                  <i class="fa fa-close"></i>
                </a>
              </div>

            </div>

            <div id="videoPlayerContainer" class="videoMediaClass">
              <video id="curVideo" preload="auto" width="100%">
                <source src="{{ videoPath ~ episode.path }}.mp4" type="video/mp4">
              {#<source src="{{ audioPath ~ episode.path }}.ogg" type="audio/ogg">#}
                <p>Your browser does not support the video tag.</p>
              </video>
            </div>

            <div id="videoPlayerBar" class="row video-bar video-bar-bottom">

              <div class="col-sm-3 col-md-3 col-lg-3">
                <button id="playButton" class="bar-button pull-left">
                    <i id="playButtonIcon" class="fa fa-play"></i>
                </button>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-6">
                {# empty for now #}
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <button id="expandButton" class="bar-button pull-right">
                    <i id="expandButtonIcon" class="fa fa-expand"></i>
                </button>
              </div>

            </div>

            <div id="nextVid" data-url="{{ path('star-video-next') }}" hidden></div>

        </div>

        {% block javascripts %}

        <!-- jQuery 3 -->
        <script src="{{ asset('AdminLTE-2.4.10/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{{ asset('AdminLTE-2.4.10/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <script type='text/javascript'>
            // TODO: get video_next.html style like button on image for video overlay like Netflix
            $(function () {

              var fullElem = document.documentElement;

              function openFullscreen() {
                if (fullElem.requestFullscreen) {
                  fullElem.requestFullscreen();
                } else if (fullElem.webkitRequestFullscreen) { /* Safari */
                  fullElem.webkitRequestFullscreen();
                } else if (fullElem.msRequestFullscreen) { /* IE11 */
                  fullElem.msRequestFullscreen();
                }

                $("#videoPlayerContainer").css('width', '100%'); // full
              }

              function closeFullscreen() {
                if (document.exitFullscreen) {
                  document.exitFullscreen();
                } else if (document.webkitExitFullscreen) { /* Safari */
                  document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { /* IE11 */
                  document.msExitFullscreen();
                }

                $("#videoPlayerContainer").css('width', '90%');
              }

              var curVideo = $('#curVideo');
              var curVideoDOM = document.getElementById("curVideo");

              $('#playButton').on('click', function(){
                if ($('#playButtonIcon').hasClass("fa-play")){
                    curVideoDOM.play();
                } else {
                    curVideoDOM.pause();
                }

                $('#playButtonIcon').toggleClass("fa-play");
                $('#playButtonIcon').toggleClass("fa-pause");
              });

              $('#expandButton').on('click', function(){
                if ($('#expandButtonIcon').hasClass("fa-expand")){
                    openFullscreen();
                } else {
                    closeFullscreen();
                }

                $('#expandButtonIcon').toggleClass("fa-expand");
                $('#expandButtonIcon').toggleClass("fa-compress");
              });

              curVideo.on('ended', function(e) {
                var url = $("#nextVid").data("url");
                // FIXME: find better solution later + fix instant jump (sometimes)
                // check controller code as well
                window.location = url;
              });

              curVideo.on('play', function(e) {
                $("#videoTitleBar").toggle();
                $("#videoPlayerBar").hide(); // no toggle because of mousemove
                $("#videoPlayerContainer").css('opacity', '1.0');
              });

              curVideo.on('pause', function(e) {
                $("#videoTitleBar").toggle();
                $("#videoPlayerBar").show(); // no toggle because of mousemove
                $("#videoPlayerContainer").css('opacity', '0.6');
              });


              var waited = false;
              var timerId = 0;

              $(document).on('mousemove', function(e) {
                e.preventDefault();

                if ($("#curVideo").get(0).paused == false) {
                  $("#videoPlayerBar").show();
                }

                timerId = setInterval(function () {
                  if (waited === true) {
                    if ($('#playButtonIcon').hasClass("fa-pause")){
                      $("#videoPlayerBar").hide();
                    }

                    waited = false;
                    clearInterval(timerId);
                  }

                  waited = true;
                }, 4000);
              });

              // autostart video
              // TODO: find way to load page within main to (maybe) use autoplay
              //curVideoDom.autoplay = true;
              //curVideoDom.load();

          });
        </script>

        {% endblock %}

    {% endblock %}
  </body>
</html>
