<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}Star{% endblock %} {% block sub_title %}Video{% endblock %}</title>
      <!-- Tell the browser to be responsive to screen width -->
      <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> -->

      {% block stylesheets %}

        <!-- favicon -->
        <link rel="bookmark icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- favicon -->
        <link rel="bookmark icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('AdminLTE-2.4.10/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('AdminLTE-2.4.10/bower_components/font-awesome/css/font-awesome.min.css') }}">

        <style>

          /* html, body {
            min-height: unset;
            max-height: unset;
          } */

          html, body, .dark {
            background-color: black;
          }

          .dark {
            text-align: center;
          }

          .bar-button {
            color: white;
            text-align: center;
            vertical-align: middle;
          }

          .video-bar {
            position: absolute;
            color: white;
            font-size: 24px;
            padding: 48px 64px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            width: 100%;
            text-align: center;
          }

          .video-bar-top {
            top: 0;
          }

          .video-bar-bottom {
            bottom: 0;
          }

          .videoMediaClass {
            width: 100%;
            height: auto;
          }

        </style>
      {% endblock %}

    </head>
    <body>
    {% block body %}

        <div class="dark">

            <div id="videoTitleBar" class="row video-bar video-bar-title">

              <div class="col-md-3">
                <a id="backButton" class="bar-button pull-left"
                   href="{{ path('star') }}"> {# change href later maybe #}
                  <i class="fa fa-chevron-left"></i>
                </a>
              </div>

              {# TODO: use php functions later #}
          		{% set middle = " - Episode " ~ episode.number  %}
          		{% if episode.isExtra %}
          			{% set middle = " - Extra" %}
          		{% endif %}

              {# FIXME: check for language later and whether to show both titles #}
          		{% set videoTitle = "Season " ~ season.number ~ middle ~ ": " ~ episode.title %}
              {# TODO: use php functions later #}

              <div class="col-md-6">
                <h3>
                  <font id="titleFont">{{ videoTitle }}</font>
                </h3>
              </div>

              <div class="col-md-3">
                <a class="bar-button pull-right"
                   href="{{ path('star') }}"> {# change href later maybe #}
                  <i class="fa fa-close"></i>
                </a>
              </div>

            </div>

            <div id="videoPlayerContainer">
              <video id="curVideo" class="dark videoMediaClass" preload="auto">
                <source src="{{ videoPath ~ episode.path }}.mp4" type="video/mp4">
              {#<source src="{{ audioPath ~ episode.path }}.ogg" type="audio/ogg">#}
                <p>Your browser does not support the video tag.</p>
              </video>
            </div>

            <div id="videoPlayerBar" class="row video-bar video-bar-bottom">

              <div class="col-md-3">
                <a id="pauseButton" class="bar-button pull-left"
                    href="#" style="display: none;">
                    <i class="fa fa-pause"></i>
                </a>
                <a id="playButton" class="bar-button pull-left"
                    href="#">
                    <i class="fa fa-play"></i>
                </a>
              </div>

              <div class="col-md-6">
                {# empty for now #}
              </div>

              <div class="col-md-3">
                <a id="expandButton" class="bar-button pull-right"
                    href="#">
                    <i class="fa fa-expand"></i>
                </a>
                <a id="compressButton" class="bar-button pull-right"
                    href="#" style="display: none;">
                    <i class="fa fa-compress"></i>
                </a>
              </div>

            </div>

            <div id="nextVid" data-url="{{ path('star-video-next') }}" hidden></div>

        </div>

        {% block javascripts %}

        <!-- jQuery 3 -->
        <script src="{{ asset('AdminLTE-2.4.10/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{{ asset('AdminLTE-2.4.10/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <script type='text/javascript'>
            // TODO: get video_next.html style like button on image for video overlay like Netflix
            $(function () {

              var fullElem = document.documentElement;

              function toggleFullscreenButtons() {
                $("#expandButton").fadeToggle();
                $("#compressButton").fadeToggle();
              }

              function togglePlayButtons() {
                $("#playButton").fadeToggle();
                $("#pauseButton").fadeToggle();
              }

              function openFullscreen() {
                if (fullElem.requestFullscreen) {
                  fullElem.requestFullscreen();
                } else if (fullElem.webkitRequestFullscreen) { /* Safari */
                  fullElem.webkitRequestFullscreen();
                } else if (fullElem.msRequestFullscreen) { /* IE11 */
                  fullElem.msRequestFullscreen();
                }
                toggleFullscreenButtons();
              }

              function closeFullscreen() {
                if (document.exitFullscreen) {
                  document.exitFullscreen();
                } else if (document.webkitExitFullscreen) { /* Safari */
                  document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { /* IE11 */
                  document.msExitFullscreen();
                }
                toggleFullscreenButtons();
              }

              var curVideo = $('#curVideo');
              var curVideoDom = curVideo.get(0);

              curVideo.on('ended', function(e) {
                var url = $("#nextVid").data("url");
                // FIXME: find better solution later + fix instant jump (sometimes)
                // check controller code as well
                window.location = url;
              });

              curVideo.on('play', function(e) {
                $("#videoTitleBar").hide();
                //$("#videoPlayerBar").hide(); // use hover event later
                togglePlayButtons();
                $("#videoPlayerContainer").css('opacity', '1.0');
              });

              curVideo.on('pause', function(e) {
                $("#videoTitleBar").show();
                //$("#videoPlayerBar").show(); // use hover event later
                togglePlayButtons();
                $("#videoPlayerContainer").css('opacity', '0.6');
              });

              $("#playButton").on('click', function() {
                curVideoDom.pause();
              });

              $("#pauseButton").on('click', function() {
                curVideoDom.play();
              });

              $("#expandButton").on('click', function() {
                // TODO: make with event if possible
                openFullscreen();
              });

              $("#compressButton").on('click', function() {
                // TODO: make with event if possible
                closeFullscreen();
              });

              // autostart video
              //curVideoDom.autoplay = true;
              //curVideoDom.load();

          });
        </script>

        {% endblock %}

    {% endblock %}
  </body>
</html>
