{% extends 'base.html.twig' %}

{% block title %}CAI{% endblock %}

{% block stylesheet %}
  {{ parent() }}

  <style>

    .result-image {
      display: block;
      max-width: 256px !important;
      max-height: 320px !important;
      width: auto !important;
      height: auto !important;
    }

  </style>
{% endblock %}

{% block content %}

  {# TODO: Later change file extentios via controller #}
  {% set fileExtension = ".jpg" %}

  {% set imagePath = "cai/generated/cai_" ~ app.session.get("mergeId") ~ fileExtension %}

  <img class="result-image" src="{{ asset(imagePath) }}" alt="result-image">

  <a class="btn btn-primary" href="{{ asset(imagePath) }}" download="{{ "result" ~ fileExtension }}">
    <i class="fa fa-download"></i> Download
  </a>

  <a class="btn btn-primary" href="{{ path('cai-upload') }}">
    <i class="fa fa-upload"></i> Merge new images
  </a>

{% endblock %}
