{% extends 'base.html.twig' %}

{% block title %}CAI{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  {# Dropzone 5.7.0 #}
  <link rel="stylesheet" href="{{ asset('dropzone/css/dropzone.min.css') }}">

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {# Dropzone 5.7.0 #}
  <script src="{{ asset("dropzone/js/dropzone.min.js") }}"></script>

  <script type="text/javascript">
    $(function() {
        var urlX = $("#upload-url").data("url");
        $("div#cai_images").dropzone({ url: urlX });
    });
  </script>

{% endblock %}

{% block content %}

  {{ form_start(form) }}

    <div class="fallback">
        {{ form_row(form.images) }}
    </div>

    <button class="btn btn-primary" type="submit">{{ "Upload" }}</button>

    <div id="upload-url" data-url="{{ path("cai-upload") }}" hidden></div>

  {{ form_end(form) }}

{% endblock %}
