{% extends 'base.html.twig' %}

{% block title %}CAI{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  {# Dropzone 5.7.0 #}
  <link rel="stylesheet" href="{{ asset('dropzone/css/basic.min.css') }}">
  <link rel="stylesheet" href="{{ asset('dropzone/css/dropzone.min.css') }}">

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {# Dropzone 5.7.0 #}
  <script src="{{ asset("dropzone/js/dropzone.min.js") }}"></script>

  <script type="text/javascript">
    $(function() {
        var urlX = $("#upload-url").data("url");
        $("div#cai_images").dropzone({ url: urlX });
    });
  </script>

{% endblock %}

{% block content %}

  {{ form_start(form) }}

    <div class="fallback">
        {{ form_row(form.images) }}
    </div>

    {#<div>
        <div id="previews" class="dz-default dz-message box__input dropzone">
            <div style="text-align: center;">
                <i class="fa fa-cloud-upload" style="font-size: 23px; position: relative; top: 4px;"></i>
                <span style="margin-left: 20px;">Drop files  to attach or browse</span>
            </div>
        </div>
        <div id="previewFiles"></div>
    </div>

    <div>
      <input type="submit" id="Submit" name="Submit" class="btn btn-success m-t-5" value="Submit" />
    </div>#}

    <button class="btn btn-primary" type="submit">{{ "Upload" }}</button>

    <div id="upload-url" data-url="{{ path("cai-upload") }}" hidden></div>

  {{ form_end(form) }}

{% endblock %}
